.col-obra {
    min-width: 6em;
    max-width: 8em;
    width: 8em;
}

.col-descricao {
    min-width: 12em;
    max-width: none;
    width: auto;
}

.col-dias {
    min-width: 8em;
    max-width: 8em;
    width: 8em;
}

.col-buttons {
    min-width: 6em;
    max-width: 6em;
    width: 6em;
}
