<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="time">{{DateTime | date: 'HH:mm'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="day">{{DateTime | date: 'EEEE d MMMM y'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="greeting">Bem Vindo,</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="name">{{currentUser?.Nome}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>