<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="encomendas">Encomendas</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <h3 class="valor-destaque1"> {{totalEncomendasPorAprovar}} por aprovar</h3>
                            <div id="donutChartEncomendas"></div>
                            <h3 class="valor-destaque2"> {{totalEncomendas}} Aprovadas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="tendencias-encomendas">Tendencias (Encomendas Aprovadas)</h2>
                    <div class="card mw-100">
                        <div class="chart-container landing-page">
                                <!--<h3 class="valor-destaque">Total de Encomendas: {{ totalEncomendas + totalEncomendasPorAprovar }}</h3>-->
                                <div id="lineChartEncomendas"></div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="Despesas">Despesas</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <!-- <h3 class="valor-destaque1"> {{totalDespesasPorAprovar}} por aprovar</h3> -->
                            <!-- placeholders pois não há valores das despesas -->
                            <h3 class="valor-destaque1"> 1 por aprovar</h3>
                            <div id="donutChartDespesas"></div>
                            <h3 class="valor-destaque2"> 6 Aprovadas</h3>
                            <!-- <h3 class="valor-destaque2"> {{totalDespesas}} Aprovadas</h3> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="tendencias-despesas">Tendencias (Despesas Aprovadas)</h2>
                    <div class="card mw-100">
                        <div class="chart-container landing-page">
                            <!--<h3 class="valor-destaque">Total de Despesas: {{ totalEncomendas + totalEncomendasPorAprovar }}</h3>-->
                            <div id="lineChartDespesas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
