<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="encomendas">Encomendas</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <h3 class="valor-destaque1"> {{totalEncomendasPorAprovar}} por aprovar</h3>
                            <div id="donutChart"></div>
                            <h3 class="valor-destaque2"> {{totalEncomendas}} Aprovadas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="tendencias-encomendas">Tendencias (Encomendas Aprovadas)</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="valor-destaque">Total de Encomendas: {{ totalEncomendas + totalEncomendasPorAprovar}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="Despesas">Despesas</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="valor-destaque">Total de Despesas Aprovadas: {{ totalDespesas }}</h3>
                                <h3 class="valor-destaque">Total de Despesas por Aprovar: {{ totalDespesasPorAprovar }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="tendencias-despesas">Tendencias (Despesas Aprovadas)</h2>
                    <div class="card mw-100">
                        <div class="card-content landing-page">
                            <div class="text-center text-landing">
                                <h3 class="valor-destaque">Total de Despesas: {{ totalDespesas + totalDespesasPorAprovar}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
