<div class="modal-header">
    <h3 class="modal-title"><i class="feather ft-list"></i> Unidades</h3>
    <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss('fechar')">
        <span aria-hidden=" true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="input-group mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text bg-success border-success white"><i class="la la-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Pesquisar" ngbAutofocus [(ngModel)]="pesquisa">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="col-unidade">Unidade</th>
                    <th scope="col" class="col-descricao">Descrição</th>
                    <th scope="col" class="col-buttons"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unidade of unidadesFiltradas() | slice: (page - 1) * pageSize : page * pageSize">
                    <td>{{unidade.Codigo}}</td>
                    <td>{{unidade.Descricao}}</td>
                    <td><button type="button" class="btn btn-sm btn-outline-success" aria-label="Selecionar" (click)="modal.close(unidade)"><i class="feather ft-plus"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="unidadesFiltradas()?.length ?? 0" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"></ngb-pagination>
</div>
